.services__box{
    padding-bottom: 8rem;

    &--img{
        width: 100%;
        height: 22rem;
        background: $color-yellow;

        @include respond(tab-port){
            height: 30rem;
        }
    }
}

.services__block{
   
    &--video{
        width: 100%;
        height: 60rem;
        background: $color-yellow;
    }


    &--info{
        background: $color-light-grey;
        height: 60rem;
        width: 100%;
        display: flex;
        align-items: center; 
        padding: 5rem;      

       .infoBox{
            display: flex;
            align-items: flex-start;
            margin-bottom: 3rem;

            @include respond(tab-land){
                margin-bottom: 2rem;
            }

            &:last-child{
                margin-bottom: 0;
            }

            &__icon{
                margin-top: 3rem;

                @include respond(tab-land){
                    margin-top: 1rem;
                }

                img{
                    height: 6rem;

                    @include respond(tab-land){
                        height: 4rem;
                    }
                }              
            }

            &__content{
                margin-left: 3rem;

                p{
                    width: 70%;

                    @include respond(tab-land){
                        width: 100%;
                    }

                    @include respond(phone){
                        width: 100%;
                    }
                }
            }
       }

    }
}